.notification {
  position: fixed;
  top: 50%;
  background-color: #4caf50;
  color: #000;
  padding: 1rem;
  border-radius: 5px;
  z-index: 10;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notification button {
  background-color: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
}
